* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 20px;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 40px;
}

.grid {
  display: grid;
  grid-template-columns: 4fr 15fr 2fr;
  width: 1500px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.filter-sort-wrapper {
  width: 1500px;
  height: 120px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.grid>div {
  border: 1px solid black;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.grid>div>img {
  height: 100px;
  width: auto;
}

input select {
  width: 300px;
}