@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  --black: #000000;
  --blue: #262A56;
  --orange: #B8621B;
  --white: #E3CCAE;
  --black-opaque-strong: rgba(0, 0, 0, 0.8);
  --black-opaque-light: rgba(0, 0, 0, 0.56)
}

* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

html,
body {
  margin: 0;
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

header {
  background-color: var(--blue);
  font-size: 3rem;
  color: var(--white);
  padding: 20px;
  display: flex;
  align-items: center;
}

nav {
  background-color: var(--orange);
  display: flex;
  padding: 20px;
}

nav>div {
  margin-right: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--black);
  font-size: 2rem;
}

main {
  flex: 6;
  background-color: var(--blue);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
}

footer {
  background-color: var(--orange);
  color: var(--black);
  display: flex;
  align-items: center;
  padding: 20px;
  font-size: 1.7rem;
}

.button {
  cursor: pointer;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  height: 100%;
  padding: 10px;
}

.gallery>div {
  display: flex;
  flex-direction: column;
  width: 25rem;
  height: 20rem;
  margin: 10px;
  background-color: var(--black);
  justify-content: flex-end;
  background-size: contain;
}

.gallery>div>div {
  height: 5rem;
  background-color: var(--black-opaque-strong);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: var(--orange);
}

.form {
  width: 400px;
  height: 500px;
  display: flex;
  padding: 10px;
  margin: 10px;
  background-color: var(--black-opaque-light);
  flex-direction: column;
}

.form>h1 {
  opacity: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white)
}